body {
  font-family: 'Avenir', Helvetica, sans-serif;
  color: white;
}

h1 {
  font-size: 4em;
  font-weight: medium;
  text-align:center;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  text-align:center;
  margin: 1%;
}

input {
  position:center;
}

.dollarVac {
  position: absolute;
  text-align: center;
  margin-left: 25%;
  transform: translateX(-50%);
}

.dollarRet {
  position: absolute;
  text-align: center;
  margin-left: 50%;
  transform: translateX(-50%);
}

.dollarNet {
  position: absolute;
  text-align: center;
  margin-left: 75%;
  transform: translateX(-50%);
}

.button-position {
  padding-left:10%;
/*  padding-top:em;
*/}

.body-text {
  font-size: 1em;
  font-weight: lighter;
  text-align:center;
  margin: 5% 25%;
}

#titleAuthors {
  font-size: 0.75em;
  font-weight: medium;
  text-align:center;
}

.continent {
    stroke: #4E6372;
    stroke-width: 1;
}

#yearInput {
    width: 30%;
}

#pauseInput {
    margin-left:28%;
}

.diseaseText {
  margin-left: 2%;
}

#startScale {
  padding-left: 25%;
}

body {
  margin: 0px;
  background-color: #0D1132;
}

circle {
  fill: steelblue;
}

.line-path {
  fill: none;
  stroke: #D72F2F;
  stroke-width: 1;
  stroke-linejoin: round;
}

.line-path-vaccine {
  fill: none;
  stroke: #DFBA41;
  stroke-width: 1;
  stroke-linejoin: round;
}

.domain {
  color: #7C86D8;
}

.tick text {
  font-size: 1.2em;
  fill: #7C86D8;
}

.tick line {
  stroke: none;
}

.axis-label-disease {
  font-size: 2em;
  fill: #7C86D8;
}

.axis-label-vaccine {
  font-size: 2em;
  fill: #7C86D8;
}

.axis-label {
  font-size: 2em;
  fill: #7C86D8;
}

.title {
  font-size: 1.5em;
  fill: #7C86D8;
}

.disease-axis text{
  fill: #D72F2F;
}

.vaccine-axis text{
  fill: #DFBA41;
}